alias cal="\ncal -Mb"
alias df="\df -H"
alias emacs="emacs -nw"
alias gl="\git log --graph --oneline --all --branches --decorate"
alias gll='\git log --graph --all --format="%x04%C(cyan bold)%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s"'
alias h="fc -fldi"
alias la="ls -a"
alias ll="ls -l"
alias ls="\ls -F --color=auto"
alias sqlplus='rlwrap sqlplus'
alias x=exit
alias n="nautilus ."
